{
  "env": {
    "mocha": true,
    "browser": true,
  },
  "extends": "airbnb",
  "globals": {
    "electron": true,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
  "rules": {
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    // For chai bdd-style should
    "no-unused-expressions": 0,
    // Want to export both default and named component for testing
    "import/no-named-as-default": 0,
    // TEMP untill babel suports some version of decorators
    // TEMP untill can ignore `electron`
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "new-cap": [2, {
      "capIsNewExceptions": [
        "Immutable.Map",
        "Immutable.Set",
        "Immutable.List",
        "Immutable.OrderedSet",
        "Immutable.OrderedMap",
      ]
    }],
    "react/jsx-filename-extension": 0,
  },
}
